body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./skyFondo.jpg");
  background-size: cover;
}
.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.row {
  display: flex;
  justify-content: center;
}
